<% if @account.stripe_plan_id %>
  <% if @account.active_until > Time.now %>
    <br>
    <p><%= "Your subscription is active until #{@account.active_until}" %></p>
  <% else %>
    <br>
    <p><%= "Your subscription expired on #{@account.active_until}" %></p>
  <% end %>
<% else %>
  <br>
  <p><%= "You don't have any subscriptions yet!" %></p>
<% end %>

<br>
<%= link_to 'Subscribe to a Plan', new_subscription_path(@account.id), class: 'btn btn-primary' %>
<%= link_to 'Edit Subscription', edit_subscription_path(@account.id), class: 'btn btn-warning' %>
<%= link_to 'Cancel Subscription', cancel_subscription_path, class: 'btn btn-danger' %>
<%= link_to 'Update Payment Method', update_credit_card_path, class: 'btn btn-success' %>